<ion-header>
  <ion-toolbar>
    <ion-title>
      Cadastro de Esportista
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<!-- Default Input -->
<ion-input></ion-input>



<!-- Name type input -->
<ion-item>
	<label>Nome:<ion-input type="text" value="" placeholder="Digite seu nome"></ion-input></label></ion-item>

<!-- Email type input -->
<ion-item>
<label>Email:<ion-input type="email" value="" placeholder="Digite seu email"></ion-input></label><br>
</ion-item>

<ion-item>
<label>CPF<ion-input type="text" value="" placeholder="Digite seu CPF"></ion-input></label><br>
</ion-item>

<ion-item>
<label>Senha:<ion-input type="password" value="" placeholder="Digite sua senha"></ion-input></label><br>
</ion-item>

<ion-item>
<label>Confirmar senha:<ion-input type="password" value="" placeholder="Digite sua senha"></ion-input></label><br><br>
</ion-item>

<input type="submit">

</ion-content>

