<ion-header>
  <ion-toolbar>
    <ion-title> Cadastro de Esportista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content padding class="form-content">
    <form [formGroup]="validate-user" (ngSubmit)="onSubmit("validate-user.value")">

      <!---nome-->
      <ion-item>
          <ion-label position="floating" color="primary">Nome: </ion-label>
        <ion-imput type="text" formControlName="name"></ion-imput>
      </ion-item>
    <!---nome  validator-->
      <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.name">
            <div class="error-message" *ngIf="validate-user.get('name').hasError(validation.type) && (validate-user.get('name').dirty || validate-user.get('name').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
    </div>
<!---sobrenome-->
    <ion-item>
        <ion-label position="floating" color="primary">Sobrenome</ion-label>
        <ion-input type="text" formControlName="lastname"></ion-input>
  </ion-item>

  <!--Validação do sobrenome -->
<div class="validation-errors">
    <ng-container *ngFor="let validation of validation_messages.lastname">
      <div class="error-message" *ngIf="validate-user.get('lastname').hasError(validation.type) && (validate-user.get('lastname').dirty || validate-user.get('lastname').touched)">
        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
      </div>
    </ng-container>
</div>

<!-- Email type input -->
<ion-item>
    <ion-label position="floating" color="primary">Email</ion-label>
    <ion-input type="text" formControlName="email"></ion-input>
</ion-item>

<!--validação email-->

<div class="validation-errors">
    <ng-container *ngFor="let validation of validation_messages.email">
      <div class="error-message" *ngIf="validate-user.get('email').hasError(validation.type) && (validate-user.get('email').dirty || validate-user.get('email').touched)">
        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
      </div>
    </ng-container>
</div>

<ion-item>
    <label>CPF<ion-input type="text" value="" placeholder="Digite seu CPF"></ion-input></label><br>
    </ion-item>



    </form>
</ion-content>
