<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>
      Cadastro de Equipe
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-item>
  <ion-label position="floating">Nome da Equipe</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Esporte da Equipe</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-button color="warning">
	<ion-icon name="person-add"></ion-icon>
	Membros
</ion-button>

<ion-button color="warning">
	<ion-icon name="cog"></ion-icon>
	Configurar
</ion-button>

<ion-content>
</ion-content>
