<ion-header>
  <ion-toolbar>
    <ion-title>Configura a Privacidade do Time</ion-title>
  </ion-toolbar>
</ion-header>

<ion-list>

    <ion-item>
     <ion-label>Tipo de Acesso</ion-label>
      <ion-select value="brown" okText="Confirma" cancelText="Cancela">
       <ion-select-option value="Privado">Privado</ion-select-option>
       <ion-select-option value="Publico">Publico</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
     <ion-label>Tipo de Visivilidade</ion-label>
     <ion-select value="brown" okText="Confirma" cancelText="Cancela">
       <ion-select-option value="Privado">Visivel</ion-select-option>
       <ion-select-option value="Publico">Oculto</ion-select-option>
     </ion-select>
    </ion-item>
  </ion-list>

<ion-content>

</ion-content>
