
ion-content{
    --background: #fff url('../../assets/img/bola-de-fogo-inicial.jpg') no-repeat center center / cover;
}

p{
    color: white;
    font-family: sans-serif;
    font-size: 24px;
    text-align: center;
    margin-top: 80%;
    margin-left: 12%;
    margin-right: 10%;
    line-height: 30px;
}
