<ion-content padding class="bg-image">
    <p><b>Aqui você pode montar seu time!</b></p>

    <ion-row class="ion-text-center">
        <ion-col align-self-center>
            <ion-button href="../login" class="ion-padding" routerDirection="back" color="warning" id="bt-login">
                <ion-icon slot="end" name="star"></ion-icon>
                <b>Login</b>
            </ion-button>
        </ion-col>
    </ion-row>

    <ion-row class="ion-text-center">
        <ion-col align-self-center>
            <ion-button href="../cuser" class="ion-padding" routerDirection="forward" color="warning" id="bt-cadastro">
            <b>Cadastro</b>
            </ion-button>
        </ion-col>
    </ion-row>
</ion-content>
